@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic");

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #fefefe;
}

h1,h2,h3,h4,h5,h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
	font-family: Lato;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	font-weight: normal;
	line-height: 1;
	color: #999999;
}

h1,h2,h3 {
	line-height: 40px;
}

h1 {
	font-size: 38.5px;
}

h2 {
	font-size: 31.5px;
}

h3 {
	font-size: 24.5px;
}

h4 {
	font-size: 17.5px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 11.9px;
}

h1 small {
	font-size: 24.5px;
}

h2 small {
	font-size: 17.5px;
}

h3 small {
	font-size: 14px;
}

h4 small {
	font-size: 14px;
}

#flashMessage {
	height: 40px;
	text-align: center;
	background: #00BFF3;
	font-family: Lato;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #FFF;
}

#flashMessage strong a {
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px dotted #FFF;
}

#flashMessage strong a:hover {
	color: #a6e6fa;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-ms-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}
header {
	height: 85px;
	z-index: 7;
	width: 100%;
}

header h1 img {
	width: 350px;
}

header .topNavInfo {
	float: right;
	font-family: Lato;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	margin: 15px 0 0;
}

header ul.topNav {
	float: right;
	list-style-type: none;
	margin: 15px 0 0;
	padding:0;
}

header ul.topNav li {
	float: left;
	margin-right: 30px;
}

header ul.topNav li:last-child {
	float: left;
	margin-right: 0px;
}

header ul.topNav li a {
	color: #42454c;
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
}

header ul.topNav li a.active {
	color: #42454c;
	font-family: Lato;
	font-weight: 700;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px dotted #1a1c1f;
}

header ul.topNav li.navButton {
	background-color: #FFF200;	
	font-family: Lato;
	font-weight: 700;
	padding: 5px 15px;
	margin: -7px 0px 0 0; 
	font-size:18px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}

header ul.topNav li.navButton a {
	color: #00A651;
	font-weight: 700;
}

header ul.topNav li a:hover {
	color: #1a1c1f;
	border-bottom: 1px dotted #1a1c1f;
}

.line {
	background: #f1eeea;
	display: block;
	height: 3px;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 20px;
}

#hero {width: 100%;}
#hero img {
	width: 100%;
}

#sub .sub_heading {
	text-align: center;
	position: relative;
	margin-bottom: 0px;
}

#sub h2, h3 {
	position: relative;
	z-index: 2;
	background: #fff;
	display: inline;
	padding: 0px 15px 0px 15px;
}

.paras {
	padding: 0 10%;
}
.paras p {
	font-family: Lato;
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
	text-align: center;
}

.paras_small {
	padding: 0 10%;
}
.paras_small p {
	font-family: Lato;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
}

.speakers .speaker {
	padding: 10px;
}

.speakers .speaker img {
	width: 100%;
	height: auto;
}

.speakerCaption{
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	line-height: 30px;
	background: #222;
	background: rgba(0, 0, 0, .8);
	padding: 5px 10px;
	font-size: 20px;
	font-weight: 300;
	color: white;
}

.speakerCaption a{
	font-family: Lato;
	font-weight: 600;
	color: white;
	text-decoration: none;
}

.speakerCaption a:hover{
	color: #00A651;
	font-weight: 700;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-ms-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
}

.sponsors .sponsor {
	padding: 10px;
}

.sponsors .sponsor img {
	width: 100%;
	height: auto;
}

.speakerPicture {
	width: 50%;
	margin: 0 auto;
}

.speakerPicture img {
	width: 100%;
}

.speakerSingle .speakerName {
	font-family: Lato;
	font-weight: 700;
	font-size: 20px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.speakerSingle p {
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
}

.footer {
	margin: 30px auto 20px;
	font-family: Lato;
	font-weight: 300;
}

.footer a {
	color: #00A651;
	font-weight: 700;
	text-decoration: none;
}

.footerLeft {float: left;}
.footerRight {float: right;}