
/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px auto;
    width: 1000px;
}

.section-fluid {
    clear: both;
    padding: 0px;
    margin: 0px auto;
    width: 100%;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

/*  GRID OF TEN   ============================================================================= */


.span_10_of_10 {
    width: 100%;
}

.span_9_of_10 {
    width: 89.84%;
}

.span_8_of_10 {
    width: 79.68%;
}

.span_7_of_10 {
    width: 69.52%; 
}

.span_6_of_10 {
    width: 59.36%; 
}

.span_5_of_10 {
    width: 49.2%; 
}

.span_4_of_10 {
    width: 39.04%; 
}

.span_3_of_10 {
    width: 28.88%;
}

.span_2_of_10 {
    width: 18.72%; 
}

.span_1_of_10 {
    width: 8.56%; 
}


/*  GRID OF THREE   =========================================================================== */

.span_1_of_3 {
    width: 30.2%;
}

/*  GRID OF FOUR   =========================================================================== */

.span_1_of_4 {
    width: 21.5%;
}

/* Quick Responsive ========================================================================== */
/* Small Desktop */
@media all and ( max-width:1000px) {
    .section {
        width: 100%;
    }
    .speakers .speaker {
        padding: 0px !important;
    }
    .speakers .speaker:first-child {
        padding-left: 10px !important;
    }
}
/* Tablet */
@media all and ( max-width:768px) {
    .span_10_of_10, .span_9_of_10, .span_8_of_10, .span_7_of_10, .span_6_of_10, .span_5_of_10, .span_4_of_10 {
        width: 100%; 
        float: none;
    }
    .col.span_10_of_10, .col.span_9_of_10, .col.span_8_of_10, .col.span_7_of_10, .col.span_6_of_10, .col.span_5_of_10 {
        margin-right:0;
    }
    header ul.topNav li {
        margin-right: 2px !important;
    }
}
@media all and ( max-width:650px) {
    #header-logo {
        width: 90%;
        float: none ;
        margin: 5%;
    }
    .header-information {
        width: 100%;
        float: none;
        text-align: center;
    }
    header ul.topNav li {
        margin-right: 30px !important;
    }
    header ul.topNav li:last-child {
        margin-right: 0px !important;
    }
    .topNavInfo {
        float: none !important;
    }
}   
/* Smartphone */
@media all and ( min-width:480px) {
    header ul.topNav {
        display: block !important;
    }
}
@media all and ( max-width:480px) {
    .speakerCaption {
        font-size: inherit !important;
    }
    .span_10_of_10, .span_9_of_10, .span_8_of_10, .span_7_of_10, .span_6_of_10, .span_5_of_10, .span_4_of_10 {
        width: 100%; 
        float: none;
    }
    .col.span_10_of_10, .col.span_9_of_10, .col.span_8_of_10, .col.span_7_of_10, .col.span_6_of_10, .col.span_5_of_10 {
        /*margin-left:0;*/
    }
    .span_1_of_4 {
        width: 40.2%;
    }
    /* Navigation */
    header {
        height: auto !important;
    }
    header div.openClose {
        display: block !important;
    }
    header ul.topNav {
        display: none;
        float: none !important;
    }
    header ul.topNav.open {
        display: block;
    }
    header ul.topNav li {
        width: 100%;
        display: block !important;
        text-align: center !important;
        height: 30px;
    }
    header ul.topNav li.navButton {
        padding: 5px 0px 0px !important;
    }
    /* Page Copy */
    .paras p {
        font-size: 15px !important;
    }
    .paras_small p {
        font-size: 13px !important;
    }
}
@media all and ( max-width:390px) {
    .speakerCaption {
        font-size: 14px !important;
        padding: 5px 5px !important;
        line-height: 10px !important;
    }
}
@media all and ( max-width:320px) {
    .speakerCaption {
        font-size: 12px !important;
        padding: 5px 5px !important;
        line-height: 10px !important;
    }
}
