Options +FollowSymLinks
RewriteEngine On
AddDefaultCharset utf-8

# Remove WWW
#RewriteCond %{HTTP_HOST} !^hackference\.co\.uk$ [NC]
#RewriteRule ^(.*)$ http://hackference.co.uk/$1 [R=301,L]

# Options All -Indexes

RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f 

# Catch attempt
RewriteRule ^(.*)$										bootstrap.php?file_path=$1
RewriteRule ^$										     bootstrap.php?file_path=index